/AulaClasse_04/nbproject/private/
/AulaClasse_04/build/
/AulaClasse_05/nbproject/private/
/AulaClasse_05/build/
/AulaClasse_06/nbproject/private/
/AulaClasse_06ContaBanco/nbproject/private/
/AulaClasse_06ContaBanco/build/
/AulaClasse_06ContaBanco/dist/
/AulaControle_06/nbproject/private/
/AulaControle_06/build/
/UltraEmojiCombat/nbproject/private/
/UltraEmojiCombat/build/
/UltraEmojiCombat/dist/
/projetoLivro/nbproject/private/
/projetoLivro/build/